* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --default-background: rgb(213, 216, 218);
    --blue-background: rgb(0, 118, 164); 
    --blue-background-text-color: white;
    --items-background-color: white;
    --sidebar-headings-color: rgb(255, 61, 61);
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template: minmax(1fr, 200px) 2fr 2fr / 1fr 2fr 1fr;
    background-color: var(--default-background);
}


/* header */
.header {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    padding: 5px 20px;
    background-color: var(--items-background-color);
    box-shadow: 0 2px 4px 1px gray;
    justify-content: center;
    align-items: center;
}
.header > * {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .search-container .search{
    width: 50%;
    display: flex;
}
.header .search-container .search i {
    color: var(--blue-background);
    display: grid;
    place-items: center;
    font-size: 25px;
}
.header .search input {
    flex: 1;
    height: 30px;
    background-color: var(--default-background);
    border: none;
    padding: 5px 20px;
    margin-left: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: inset 0 0px 2px 2px gray;
}
.header .search-container .profile {
    display: flex;
    align-items: center;
    width: 300px;
}
.header .greeting .first {
    display: flex;
    flex-direction: row;
}
.header .greeting .first .message {
    margin-left: 10px;
}
.header div .profile * {
    margin-right: 5px;
}
.header div .profile *:first-child {
    margin-right: 15px;
}
.greeting {
    width: 100%;
}
.nav {
    display: grid;
    grid-template: 1fr / repeat(3, 70px);
    gap: 5px;
}
.nav button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue-background);
    color: var(--blue-background-text-color);
    font-weight: bold;
}
.nav button:hover {
    cursor: pointer;
}
.profile img {
    height: 30px;
    width: 30px;
}
.greeting img {
    height: 50px;
    width: 50px;
}



/* sidebar */
.sidebar {
    background-color: var(--blue-background);
    color: var(--blue-background-text-color);
    padding: 30px;
    grid-area: 1 / 1 / 4 / 2;
}
.sidebar .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.sidebar .navigation-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-align: center;
}
.sidebar .navigation-menu ul li {
    display: flex;
    flex-direction: row;
    left: 20px;
}
.sidebar .navigation-menu ul li, .sidebar .heading  {
    margin-bottom: 15px;
}
.sidebar .navigation-menu ul li i, .sidebar .heading i {
    margin-right: 20px;
}
.sidebar .navigation-menu ul li h2, .sidebar .heading h2 {
    color: var(--sidebar-headings-color);
}



/* main-content */
.main-content {
    grid-area: 2 / 2 / 4 / 4;
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    column-gap: 30px;
    padding: 20px 10px;
}
.main-content h2 {
    margin: 10px;
}
.main-content .item {
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.main-content .item .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;

}
.main-content .item .projects .content-items {
    background-color: var(--items-background-color);
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
    border-left: 8px solid orange;
    box-shadow: 0px 2px 3px 0;
}
.main-content .item .projects .content-items i {
    margin-right: 10px;
    margin-top: 10px;
}
.main-content .item .projects .content-items i:hover {
    cursor: pointer;
}
.main-content .announcements {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.main-content .announcements .announcement-items .announce{
    padding: 10px;
    background-color: var(--items-background-color);
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 10px;
}
.main-content .announcements .announcement-items .announce hr {
    margin: auto;
}
.main-content .trending {
    display: flex;
    flex-direction: column;
}
.main-content .trending .trending-items .item {
    display: flex;
    flex-direction: row;
    background-color: var(--items-background-color);
    margin-bottom: 10px;
    max-width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
}

.trending img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}